<html>
<head>
  <title>Course Comment</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


<div class="course-form">
  <h1 class="make-center"> Course Planner</h1>

  <h4 class="make-center">Track: <%= params[:track]%></h4>
  <%= form_with method: :get do |form| %>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Courses</th>
        <th>Title</th>
        <th>Required Track</th>
        <th>Track Elective</th>
        <th>Breadth G1</th>
        <th>Breadth G2</th>
        <th>Breadth G3</th>
        <th>6000-Level</th>
      </tr>
      </thead>
      <tbody>
      <% @user_courses.each do |course| %>
        <tr>
          <td><%= form.label :number, course["number"] %></td>
          <td><%= form.label :title, course["title"] %></td>
          <td><%= form.check_box :required, disabled: course["required"] != 1    %></td>
          <td><%= form.check_box :elective, disabled: course["elective"] != 1    %></td>
          <td><%= form.check_box :breadth1, disabled: course["breadth"]  != 'B1' %></td>
          <td><%= form.check_box :breadth2, disabled: course["breadth"]  != 'B2' %></td>
          <td><%= form.check_box :breadth3, disabled: course["breadth"]  != 'B3' %></td>
          <td>
            <% if course["number"][/\d/][0] == '6' %>
              <p>Yes</p>
            <% else %>
              <p>No</p>
            <% end %>
          </td>
        </tr>
      <%end %>
      </tbody>
    </table>
    <div class="make-center">
      <div class="form-button"><%= form.submit "Search", class:'button-17' %></div>
      <div class="form-button"><%= link_to 'Export', "/MSrequirementschecklist.csv", class: 'button-17' %></div>
    </div>
  <% end %>
</div>
</body>
</html>