<html lang="en">
<head>
  <title>WikiCourse</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div id="menu">
    <div id="back"><a href="home">Back to home</a></div>
    <div id="logo">
      WikiCourse
    </div>
  </div>
  <div class="main-detail">
    <div class="detail-page-title"><h2>Detail Page</h2></div>
    <% @courses.each do |course| %>
    <div class="detail-title"><h5>Title: </h5></div>
    <div class="detail-content"><%= course.title %></div>
    <div class="detail-title"><h5>Call: </h5></div>
    <div class="detail-content"><%= course.call %></div>
    <div class="detail-title"><h5>Number: </h5></div>
    <div class="detail-content"><%= course.number %></div>
    <div class="detail-title"><h5>Points: </h5></div>
    <div class="detail-content"><%= course.pts %></div>
    <div class="detail-title"><h5>Description: </h5></div>
    <div class="detail-content"><%= course.description %></div>
      <% end %>
  </div>

  <div>
  <table class="table table-striped col-md-12" id="comment">
    <thead>
      <tr>
        <th>rating</th>
        <th>workload</th>
        <th>description</th>
        <th>professor</th>
        <th>date</th>
      </tr>
    </thead>
    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td>
            <%= comment.rating %>
          </td>
          <td>
            <%= comment.workload %>
          </td>
          <td>
            <%= comment.description %>
          </td>
          <td>
            <%= comment.professor %>
          </td>
          <td>
            <%= comment.created_at %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  
  </div>


</body>
</html>