<html lang="en">
<head>
  <title>WikiCourse</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/tag-style.css">
</head>
<body>

<div>
  <h1>You have access to this page, <%= current_user.username %></h1>
</div>


<div id="menu">
  <div id="menu-info">
    Select your track:
  </div>
  <ul id="track-menu">
    <%  Track.all_tracks.each do |track| %>
      <li class="track-label">
        <%= link_to track, courses_main_path(track:track) %>
      </li>
    <% end %>
  </ul>
  <div id="logo">
    WikiCourse
  </div>
</div>
<h2> All Courses </h2>
<div class="main">
  <table class="table table-striped col-md-12" id="course">
    <thead>
    <tr>
      <th>call</th>
      <th>title</th>
      <th>number</th>
      <th>pts</th>
      <th>description</th>
    </tr>
    </thead>
    <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td>
          <%= link_to course.call, courses_detail_path(call: course.call) %>
        </td>
        <td>
          <%= course.title %>
        </td>
        <td>
          <%= course.number %>
        </td>
        <td>
          <%= course.pts %>
        </td>
        <td>
          <%= course.description %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
</body>
</html>