<html lang="en">
<head>
  <title>WikiCourse</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div id="menu">
  <div id="menu-info">
    Select your track:
  </div>

  <ul id="track-menu">
    <%  Track.all_tracks.each do |track| %>
      <li class="track-label">
        <%= link_to track, courses_main_path(track:track), class: ('bg-warning' if params[:track] == track)%>
          </li>
    <% end %>
  </ul>
  <div id="back"><a href="home">Back to home</a></div>
  <div id="logo">
    WikiCourse
  </div>
</div>
<div class="main">
  <div class="select">
    <div class="select-box">
      <%= link_to "Required Track Courses",
                  courses_main_path({track:params[:track],
                                     required:params[:required] == '1'? nil : '1',
                                     elective:params[:elective],
                                     breadth1: params[:breadth1],
                                     breadth2: params[:breadth2],
                                     breadth3: params[:breadth3]}),
                  class: ('bg-secondary text-white' if params[:required] == '1')%>
    </div>
    <div class="select-box">
      <%= link_to "Track Electives",
                  courses_main_path(track:params[:track],
                                    required:params[:required],
                                    elective:params[:elective] == '1'? nil : '1',
                                    breadth1: params[:breadth1],
                                    breadth2: params[:breadth2],
                                    breadth3: params[:breadth3]),
                  class: ('bg-secondary text-white' if params[:elective] == '1')%>
    </div>
    <div class="select-box">
      <div class="select-box">
        <%= link_to "Breadth - Systems",
                    courses_main_path(track:params[:track],
                                      required:params[:required],
                                      breadth1:params[:breadth1] == 'B1'? nil : 'B1',
                                      breadth2: params[:breadth2],
                                      breadth3:params[:breadth3],
                                      elective:params[:elective]),
                    class:('bg-secondary text-white' if params[:breadth1] == 'B1')%>
    </div>
    <div class="select-box">
      <%= link_to "Breadth - Theory",
                  courses_main_path(track:params[:track],
                                    required:params[:required],
                                    breadth1:params[:breadth1],
                                    breadth2: params[:breadth2] == 'B2'? nil:'B2',
                                    breadth3:params[:breadth3],
                                    elective:params[:elective]),
                  :class=>('bg-secondary text-white' if params[:breadth2] == 'B2')%>
    </div>
    <div class="select-box">
      <%= link_to "Breadth - AI & Applications",
                  courses_main_path(track:params[:track],
                                    required:params[:required],
                                    breadth1:params[:breadth1],
                                    breadth2: params[:breadth2],
                                    breadth3:params[:breadth3] == 'B3'? nil:'B3',
                                    elective:params[:elective]),
                  class:('bg-secondary text-white' if params[:breadth3] == 'B3')%>
    </div>
  </div>
<table class="table table-striped col-md-12" id="course">
  <thead>
    <tr>
      <th>call</th>
      <th>title</th>
      <th>number</th>
      <th>pts</th>
      <th>description</th>
      <th>track</th>
      <th>breadth</th>
      <th>required</th>
      <th>elective</th>
      <th>elective_group</th>
      <th>required_group</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td>
          <%= course.call %>
        </td>
        <td>
          <%= course.title %>
        </td>
        <td>
          <%= course.number %>
        </td>
        <td>
          <%= course.pts %>
        </td>
        <td>
          <%= course.description %>
        </td>
        <td>
          <%= course.track %>
        </td>
        <td>
          <%= course.breadth %>
        </td>
        <td>
          <%= course.required %>
        </td>
        <td>
          <%= course.elective %>
        </td>
        <td>
          <%= course.elective_group %>
        </td>
        <td>
          <%= course.required_group %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</body>
</html>