<html lang="en">
<head>
  <title>WikiCourse</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div id="menu">
  <div id="menu-info">
    Select your track:
  </div>

  <ul id="track-menu">
    <%  Track.all_tracks.each do |track| %>
      <li class="track-label">
        <%= link_to track, courses_main_path(track:track), class: ('bg-warning hilite' if params[:track] == track)%>
          </li>
    <% end %>
  </ul>
  <%= link_to "Back to home", courses_home_path %>
  <div id="logo">
    WikiCourse
  </div>
</div>
<div class="main">

<ul class="ks-cboxtags">
  <li>
    <input type="checkbox" id="checkboxOne" value="Order one">
    <label for="checkboxOne">
      <%= link_to "Required Track Courses", courses_main_path({track:params[:track], required:1}), :style => 'text-decoration:none'%>
    </label>
  </li>
  <li>
    <input type="checkbox" id="checkboxTwo" value="Order Two">
    <label for="checkboxTwo">
      <%= link_to "Track Electives", courses_main_path({track:params[:track], elective:params[:elective]}), :style => 'text-decoration:none'%>
    </label>
  </li>
  <li>
    <input type="checkbox" id="checkboxThree" value="Order Three">
    <label for="checkboxThree">

      <%= link_to "Breadth - Systems", courses_main_path({track:params[:track], breadth1:params[:breadth1]}), :style => 'text-decoration:none'%>
    </label>
  </li>
  <li>
    <input type="checkbox" id="checkboxFour" value="Order Four">
    <label for="checkboxFour">
      <%= link_to "Breadth - Theory", courses_main_path({track:params[:track], breadth1:'B2'}), :style => 'text-decoration:none'%>
    </label>
  </li>
  <li>
    <input type="checkbox" id="checkboxFive" value="Order Five">
    <label for="checkboxFive">
      <%= link_to "Breadth - AI & Applications", courses_main_path({track:params[:track], breadth1:'B3'}), :style => 'text-decoration:none'%>
    </label>
  </li>
</ul>
<table class="table table-striped col-md-12" id="course">
  <thead>
    <tr>
      <th>call</th>
      <th>title</th>
      <th>number</th>
      <th>pts</th>
      <th>description</th>
      <th>track</th>
      <th>breadth</th>
      <th>required</th>
      <th>elective</th>
      <th>elective_group</th>
      <th>required_group</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td>
          <%= course.call %>
        </td>
        <td>
          <%= course.title %>
        </td>
        <td>
          <%= course.number %>
        </td>
        <td>
          <%= course.pts %>
        </td>
        <td>
          <%= course.description %>
        </td>
        <td>
          <%= course.track %>
        </td>
        <td>
          <%= course.breadth %>
        </td>
        <td>
          <%= course.required %>
        </td>
        <td>
          <%= course.elective %>
        </td>
        <td>
          <%= course.elective_group %>
        </td>
        <td>
          <%= course.required_group %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</body>
</html>