<h1>Courses#main</h1>
<p>Find me in app/views/courses/main.html.erb</p>



<h1>All tracks: <%= Track.all_tracks %> </h1>




<h2> All Courses </h2>


<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th>call</th>
      <th>title</th>
      <th>number</th>
      <th>pts</th>
      <th>description</th>
      <th>track</th>
      <th>breadth</th>
      <th>required</th>
      <th>elective</th>
      <th>elective_group</th>
      <th>required_group</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td>
          <%= course.call %>
        </td>
        <td>
          <%= course.title %>
        </td>
        <td>
          <%= course.number %>
        </td>
        <td>
          <%= course.pts %>
        </td>
        <td>
          <%= course.description %>
        </td>
        <td>
          <%= course.track %>
        </td>
        <td>
          <%= course.breadth %>
        </td>
        <td>
          <%= course.required %>
        </td>
        <td>
          <%= course.elective %>
        </td>
        <td>
          <%= course.elective_group %>
        </td>
        <td>
          <%= course.required_group %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
